/* 生成 background, color, 边框色变量 */

$colors: (
  'white': white,
  'black': black,
  'blue': blue,
  'red': red,
  'gray': #e8e8e8,
);

@each $key, $value in $colors {
  // 背景色
  .bg-#{$key} {
    background-color: $value;
  }
  // 字体色
  .c-#{$key} {
    color: $value;
  }
  // 边框色变量
  #{'.bc-' + $key} {
    --border-color: #{rgba($value, var(--border-opacity))};
  }
}
