@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $bg-color: (
    'page': #0a0a0a,
    '': #626aef,
    'overlay': #1d1e1f,
  ),
  $colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #409eff,
    ),
    'success': (
      'base': #67c23a,
    ),
    'warning': (
      'base': #e6a23c,
    ),
    'danger': (
      'base': #f56c6c,
    ),
    'error': (
      'base': #f56c6c,
    ),
    'info': (
      'base': #909399,
    ),
  )
);
@use 'element-plus/theme-chalk/src/dark/css-vars.scss';
@use './mixins/scrollbar-var' as *;
html[data-theme='dark'] {
  @extend html, .dark;
  .el-input-group__append,
  .el-input-group__prepend {
    color: var(--el-text-color-regular);
  }
  @include set-scrollbar-var();
}
